:root {
    --text-color: #000;
    --color-header: #2196F3;
    --background-color: #212121;
    --small-text: #757575;
    --auxiliary-text: #ffffff;
}

body{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
    color: var(--text-color);
}

.header-title{
    font: Raleway;
}

.header-link{
    font: Roboto;
}

.decision-button{
    font: Roboto;
}

.header-contact{
    color: var(--background-color);
    font-weight: 500;
    letter-spacing: 0.28px;
}

.decision-title{
    color: var(--auxiliary-text);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.decision-button{
    color: var(--auxiliary-text);
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.inform-title{
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.inform-text{
    color: var(--background-color);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

.doing-title{
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.workers-title{
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.worker-name{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.worker-doing{
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.footer-title{
    color: var(--auxiliary-text);
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.address{
    color: var(--auxiliary-text);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}

.footer-item{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}