body{
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    font-weight: 700;
}

.header-title{
    font: Raleway;
}

.header-link{
    font: Roboto;
}

.decision-button{
    font: Roboto;
}

.header-contact{
    color: #757575;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.decision-title{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.decision-button{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
}

.inform-title{
    color: #212121;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.inform-text{
    color: #757575;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.doing-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.workers-title{
    color: #212121;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1.08px;
}

.worker-name{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
}

.worker-doing{
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.footer-title{
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    letter-spacing: 0.78px;
}

.address{
    color: #FFF;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}

.footer-item{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}